<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88da3">  <td>19/12/25 16:07:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TS_01.test_numberOfCuircuitsFor20172017_Season()[pri:0, instance:com.bhavesh.RestApi.AdminTestSuite.TS_01@530a8454]">test_numberOfCuircuitsFor20172017_Season</td> 
  <td>main@1691629865</td>   <td></td> </tr>
</table>
